@import "tailwindcss";

:root {
  --color-white: #fff;
  --color-gray-active-border: #e1e1e1;
  --color-blue-focused-border: #2f72e2;
  --color-gray-default: #ebedf0;
  --color-gray-hover: #d9dce1;
  --color-black-text: #1a1a1a;
  --color-gray-text: #677289;
  --color-orange-icon: #f59d0e;
}

body {
  background: #333333;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

.has-dotted-line-bg::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 2rem;
  height: 2px;
  transform: translateY(-50%);
  background-image: repeating-linear-gradient(
    to right,
    #e5e7eb,
    /* Cor cinza do Tailwind (gray-200) */ #e5e7eb 5px,
    transparent 5px,
    transparent 8px
  );
  z-index: 0;
}
